<div class="section">
    <div class="container mt-5">
        <a href="http://localhost:8081/products" class="btn btn-info">Volver al inicio</a>
        <h1>Eliminación de Producto</h1>
    </div>
</div>